
<div id="wrap1">
    <div class="w3-content" style="max-width:1100px;margin-top:80px;margin-bottom:80px">

        <div class="w3-panel">
          <h1><b>STOCK MARKET</b></h1>
          <p>The Future Is You</p>
        </div>
        <td>
            <div class="w3-col s3">
            <button class="w3-button w3-block"(click)="Admin()">Admin</button>
            </div>
        </td>
    
        <td>
            <div class="w3-col s3">
            <button class="w3-button w3-block"(click)="User()">User</button>
        </div>
        </td>
    


