<div id="wrap1">
  <div class="w3-content" style="max-width:1100px;margin-top:80px;margin-bottom:80px">
        <div class="w3-panel">
           <h1><b>STOCK MARKET</b></h1>
           <p>The Future Is You</p>
         </div>
         <td>
             <div class="w3-col s3">
                 <a class="w3-button w3-block" [routerLink]="['/User']">LogOut</a>
             </div>
         </td>

<div class="chart-container" style="position: relative; height:50vh; width:50vw">    
    <canvas id="canvas"></canvas>    
    <canvas id="canvas2"></canvas> 
  </div>
</div>
</div>
