<div id="wrap1">
 <div class="w3-content" style="max-width:1100px;margin-top:80px;margin-bottom:80px">
       <div class="w3-panel">
          <h1><b>STOCK MARKET</b></h1>
          <p>The Future Is You</p>
        </div>
        <td>
            <div class="w3-col s3">
                <a class="w3-button w3-block" [routerLink]="['/User']">LogOut</a>
            </div>
        </td>
    <!--
    <tr>
        <td colspan="2">
            <button class="btn-primary"(click)="IPOs()">IPOs</button>
        </td>
    </tr>
    
    <tr>
        <td colspan="2">
            <button class="btn-primary"(click)="CompareCompanies()">Compare Companies/Sector</button>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <button class="btn-primary"(click)="Other()">Other</button>
        </td>
    
    </tr>-->
    <div class="w3-top">
        <div class="w3-row w3-large w3-light-grey">
          <td>
            <div class="w3-col s3">
              <button class="w3-button w3-block"(click)="IPOs()">IPOs</button>
            </div>
          </td>
         <td> 
            <div class="w3-col s3">
              <button class="w3-button w3-block"(click)="CompareCompanies()">Compare Companies/Sector</button>
            </div>
          </td>
          <td>
            <div class="w3-col s3">
              <button class="w3-button w3-block"(click)="Other()">Other</button>
            </div>
          </td>
         
        </div>
    </div>
    </div>
</div>



