
<div id="wrap">
  <div class="w3-content" style="max-width:1100px;margin-top:80px;margin-bottom:80px">

      <div class="w3-panel">
        <h1><b>STOCK MARKET</b></h1>
        <p>The Future Is You</p>
      </div>
      <td>
          <div class="w3-col s3">
              <a class="w3-button w3-block" [routerLink]="['/Admin']">LogOut</a>
          </div>
        </td>
 <div class="w3-top">
    <div class="w3-row w3-large w3-light-grey">
      <td>
        <div class="w3-col s3">
          <button class="w3-button w3-block"(click)="ImportData()">Import Data</button>
        </div>
      </td>
     <td> 
        <div class="w3-col s3">
          <button class="w3-button w3-block"(click)="ManageCompanies()">Manage Companies</button>
        </div>
      </td>
      <td>
        <div class="w3-col s3">
          <button class="w3-button w3-block"(click)="ManageExchange()">ManageExchange</button>
        </div>
      </td>
      <td>
        <div class="w3-col s3">
          <button class="w3-button w3-block"(click)="UpdateIPO()">Update IPO details</button>
        </div>
      </td>
     
        
       
    </div>
  </div>

<div>
  <h3>Sumary of Upload</h3>

<table class="table table-bordered table-hover">
  <thead>
    
    <tr>
      <th>Company Code</th><th>Stock Exchange</th><th>Current Price</th><th>Date</th><th>Time</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of list">
      <td>{{item.companyCode}}</td>
      <td>{{item.stockExchange}}</td>
      <td>{{item.currentPrice}}</td>
      <td>{{item.date}}</td>
      <td>{{item.time}}</td>
    
    </tr>
  </tbody>
</table>
</div>
<button class="w3-button w3-block" (click)="Exit()">Exit</button>
</div>
</div>
